<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="com.autom.listeners.TestNGListener"></listener>
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.autom.testscripts.Login" />
			<class name="com.autom.testscripts.AddEmployee" />
			<class name="com.autom.testscripts.AssignLeave" />
			<class name="com.autom.testscripts.LeaveList" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->